@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html,body {
    background-color: rgba(5, 5, 5, 0.685);;
    min-height: 100%;;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding: 10px;
}
section.imagem {
 width: 100%;
    background-color:  rgba(102, 5, 58, 0.089);
}
section.normal > p {
    background-color: rgb(253, 221, 247);
    color: black;
}
section.imagem > p {
    background-color: rgba(238, 130, 238, 0.445);
    color: white;
    width: 200px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px;
}